a {
    margin: auto;
    width: 50%;
    padding: 10px;    
  }



  nav{
    background-color: tomato;
  }

  #logoImg{
        -webkit-filter: drop-shadow(2px 2px 2px #222); 
        filter: drop-shadow(2px 2px 2px #222);
  }

  .card{
    margin: 10px;
    height: 400px;
    width: 300px;
  }

  .card .btn{
    background-color: tomato;
    color: white;
    position: absolute;
    bottom: 20px;
  }

  .card img {
    max-height: 150px;
  }

  #paiementh1{
    text-align: center;
  }

  #paiementh2{
    text-align: center;
  }
  
  #paiementform{
    text-align: center;
  }
