#paiementh1{
    text-align: center;
  }

  #paiementh2{
    text-align: center;
  }
  
  #paiementform{
    text-align: center;
  }

  .paiementlab{
    display:inline-block;
    width: 150px;
    text-align: right;
    
  }