@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.topnav{
  background-color: tomato;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  font-size: 25px
}

li {
  float:left;
}

li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  
}

li:last-child{
  float:right;
}

li a:hover{
  color:#333;
}

nav{
  background-color: tomato;
}

.bottomnav{
  bottom:0;
  background-color: tomato;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  font-size: 20px
}

  #logoImg{
        -webkit-filter: drop-shadow(2px 2px 2px #222); 
        filter: drop-shadow(2px 2px 2px #222);
  }

  * {
    box-sizing: border-box;
  }
  
 


  .texteeinfo{
    text-align: left;
    font-size: larger;
  }

  /* permet de ne pas avoir une partie de container caché par le footer position:fixed; */
  .before-footer{
    margin-bottom: 50px;
  }
 
  footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
  }

  